proj1/.DS_Store
proj1/__pycache__/
proj2/.DS_Store
proj2/.vscode/
proj2/__pycache__/
proj3/__pycache__/
hw/
lecture_slides
proj4/.DS_Store
proj4/.vscode/
proj4/__pycache__/
proj5/__MACOSX/
proj5/__pycache__/
